.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Nombre del documento o material
                th Tipo de material
                th Enlace del recurso

        tbody

        
            tr
                td Metodologías y Modelos de Investigación de Mercados.
                td PDF
                td 
                    a(href="media/documentos/complementarios/2.7.1_Metodología_investigación_mercados.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td Investigación de Mercados. Pymes on Line.
                td PDF
                td 
                    a(href="media/documentos/complementarios/investigacionmercados.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                      