.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody

                tr
                    td Investigación de mercados. Pymes on line.
                    td Artículo PDF
                    td 
                        a(href="media/documentos/complementarios/Investigacion_Mercados.pdf", target="_blank") <span class="download" aria-hidden="true"></span> Descargar 
                tr
                    td Metodologías y modelos de investigación de mercados.
                    td Artículo PDF
                    td 
                        a(href="media/documentos/complementarios/Metodologia_Investigacion_Mercados.pdf", target="_blank") <span class="download" aria-hidden="true"></span> Descargar     