.container#page-introduccion

    .header-ecored
        h1 1. Investigación de Mercados


    .jumbotron.bg-white 
      .row
        .col-12
          p #[strong La investigación de mercados, es una actividad más amplia y diversa de lo que generalmente se piensa (Brown y Sutter. 2012) https://cutt.ly/6eBETqM] , debido a que es mucho más amplio su alcance, más que las habituales encuestas que se entregan por diferentes medios a los clientes de una Organización para conocer su concepto sobre los productos o servicios que comercializa. 
          
          p #[strong Todas las organizaciones comparten un problema: necesitan información para lograr sus objetivos empresariales con eficacia. Según Kotler et al (2010)], para llevar a cabo el análisis de marketing de cualquier empresa (planificación, implementación, organización y control), los directivos necesitan información sobre la demanda del mercado, los clientes, los competidores, distribuidores y otras fuerzas que interactúan en el mercado (Rosendo, V. 2018). https://cutt.ly/6eBETqM

      .row.justify-content-center.align-items-center
        .col-sm-9.col-md-5.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/img_01.svg", alt="").img-fluid
        .col
          p La información para las empresas, se percibe como una necesidad básica la cual debe ser satisfecha con prontitud y de forma precisa, con el fin de contar con bases objetivas en el momento de tomar decisiones estratégicas, que afectan directamente la sostenibilidad de la Organización. Es importante precisar que la información más importante, es la del cliente, las características, los gustos, las necesidades, expectativas, su ubicación, las condiciones psicosociales, entre muchas otras variables que se puedan determinar, ayudan a establecer un perfil más cercano a la realidad, para así, establecer las estrategias más efectivas para llegar al cliente y fidelizarlo con el tiempo. 

        .col-12
          .jumbotron
            .row.justify-content-center.align-items-center
              .col-auto
                img(src="assets/images/pages/tema1/icon_01.svg", style="max-width: 120px").img-fluid.mb-3.mb-md-0
              .col-10
                p.mb-0 La información tiene una dinámica y un flujo constante, generándose permanentemente desde el interior y exterior de la organización, la cual es importante tener en cuenta para la toma de decisiones. 

      .row.justify-content-center.align-items-center
        .col.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/info_01.svg", alt="").img-fluid

      .row
        .col-12
          .quote.my-5
            .quote__bar
              .quote__bar__icon    
                img(src="assets/images/icons/quote_01.svg", alt="")
              .quote__bar__hr      
            .quote__text
              p.mb-0 #[strong La investigación de mercados puede describirse como: el vínculo formal de comunicación entre la Organización y su entorno (Rosendo, V. 2018)]   
            .quote__bar
              .quote__bar__hr 
              .quote__bar__icon
                img(src="assets/images/icons/quote_02.svg", alt="")

      .row
        .col-12
          p  La organización por medio de este vínculo continuo, puede recopilar suficiente información objetiva para el planteamiento de sus estrategias, esto en el caso que ella cuente con una adecuada interpretación de los datos obtenidos del entorno, ya que este está en constantemente cambio, para lo que la empresa debe estar abierta y dispuesta a dicha retroalimentación. El entorno que se menciona, está compuesto básicamente por: los competidores, el entorno cultural, demográfico, político, económico, tecnológico y natural, los cuales inciden en la determinación de las estrategias de precio, promoción producto y distribución de la Organización, en aras de tener una ventaja competitiva, contar con adecuados y rentables canales de distribución, ajustar la segmentación del mercado y el logro del posicionamiento de la marca.      

      .row.justify-content-center.align-items-center
        .col-12.col-md-8.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/info_02.svg", alt="").img-fluid
               
        
    .jumbotron.bg-white 
      .row          
        .col-12 
          .header-ecored#tema1_1
            h2 1.1 Proceso de investigación

        .col-12
          p Esta secuencia de pasos es importante definirla y seguirla claramente, con el  fin de que el proceso sea lo más objetivo y aporte la mayor información valiosa para la Organización. 
          p Para el desarrollo de una investigación de mercados, se deben seguir los siguientes pasos: 

      .row          
        .col-12 
          .header-ecored#tema1_2
            h2 1.2 Definición del problema
        
        .col-12
          .quote.my-5
            .quote__bar
              .quote__bar__icon    
                img(src="assets/images/icons/quote_01.svg", alt="")
              .quote__bar__hr      
            .quote__text
              p.mb-0 #[strong La formulación del problema significa traducir el problema de gestión de la empresa o entidad, en un problema de investigación” (Dos, M. 2017).]   
            .quote__bar
              .quote__bar__hr 
              .quote__bar__icon
                img(src="assets/images/icons/quote_02.svg", alt="")
        .col-12 
          p Según lo definido por Kerlinger y Lee (2000) es necesario seguir las siguientes etapas para realizar para formular los problemas de investigación:

      .row.justify-content-center.align-items-center
        .col-sm-9.col-md-5.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/img_02.svg", alt="").img-fluid
        .col
          p La información para las empresas, se percibe como una necesidad básica la cual debe ser satisfecha con prontitud y de forma precisa, con el fin de contar con bases objetivas en el momento de tomar decisiones estratégicas, que afectan directamente la sostenibilidad de la Organización. Es importante precisar que la información más importante, es la del cliente, las características, los gustos, las necesidades, expectativas, su ubicación, las condiciones psicosociales, entre muchas otras variables que se puedan determinar, ayudan a establecer un perfil más cercano a la realidad, para así, establecer las estrategias más efectivas para llegar al cliente y fidelizarlo con el tiempo.

        .col-12
          p Para definir el problema de investigación, es importante establecer lo siguiente:
        .col-12    
          p.header-step.mt-5
            span.header-step-number.text-color-orange 01
            span.header-step-title #[strong Los objetivos de la investigación:] Se clasifican en general y específicos y manifiestan las aspiraciones de la investigación. El objetivo general hace referencia a la meta que se quiere lograr y los específicos marcan el camino que se debe de seguir para llegar. Los dos tipos deben iniciar con un verbo de forma infinitiva.

          p.header-step.mt-5
            span.header-step-number.text-color-orange 02
            span.header-step-title #[strong El entorno o el contexto del problema:] es necesario identificar los objetivos y los elementos o variables del ambiente o del entorno que afecten en cualquier medida la investigación.

          p.header-step.mt-5
            span.header-step-number.text-color-orange 03
            span.header-step-title #[strong La naturaleza del problema:] es importante establecer el nivel de complejidad y la cantidad de variables a tener en cuenta y que inciden en el problema, esto ayuda a trazar un camino más apropiado para el desarrollo de la investigación.

          p.header-step.mt-5
            span.header-step-number.text-color-orange 04
            span.header-step-title #[strong Análisis del valor y costo:] se hace necesario establecer y cotejar el costo de la investigación frente al valor que se percibe por los resultados de la investigación, y por su puesto su aplicación. 


          p.header-step.mt-5
            span.header-step-number.text-color-orange 05
            span.header-step-title #[strong Enfoque de la investigación:] Son varias las clasificaciones en función de los objetivos perseguidos, naturaleza de información, origen o la técnica de recolección. Pero nosotros preferimos distinguir entre exploratoria, descriptiva y casual (Dos, M. 2017). https://cutt.ly/7eBRswj  
         
      .row.justify-content-center.align-items-center
        .col-12 
          .header-ecored#tema1_3
            h2 1.3 Diseño de investigación

        .col-sm-9.col-md-5.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/img_03.svg", alt="").img-fluid
        .col
          p La información para las empresas, se percibe como una necesidad básica la cual debe ser satisfecha con prontitud y de forma precisa, con el fin de contar con bases objetivas en el momento de tomar decisiones estratégicas, que afectan directamente la sostenibilidad de la Organización. Es importante precisar que la información más importante, es la del cliente, las características, los gustos, las necesidades, expectativas, su ubicación, las condiciones psicosociales, entre muchas otras variables que se puedan determinar, ayudan a establecer un perfil más cercano a la realidad, para así, establecer las estrategias más efectivas para llegar al cliente y fidelizarlo con el tiempo.

      .row.justify-content-center.align-items-center
        .col-12 
          .header-ecored#tema1_4
            h2 1.4 Recolección y Análisis de datos

        .col-sm-9.col-md-5.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/img_04.svg", alt="").img-fluid
        .col
          p En esta etapa del proceso de investigación, se recoge la información de diferentes formas, la manera más habitual es cuando se aplica una encuesta de forma física o por algún medio virtual, estás suelen demandar tiempo y un costo en su aplicación, por lo cual deben estar muy bien elaboradas y dirigidas al mercado objetivo. Otro de los medios para recolectar datos, de una forma menos directa, es el acceso a la información que está depositada en las redes sociales, ya que su gran cantidad de usuarios, no se limitan con la información que publican o registran en ellas. 

          p En esta instancia, se verifica, selecciona, corrigen los datos recogidos, de igual forma se valida su coherencia, autenticidad y legibilidad, para contar con un insumo de calidad en el momento de ingresar los datos en el sistema de información, que ayudara a tabular y elaborar el informe final de la investigación. 

      .row.justify-content-center.align-items-center
        .col-12 
          .header-ecored#tema1_5
            h2 1.5 Preparación y presentación de informe final

        .col-sm-9.col-md-5.my-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema1/img_05.svg", alt="").img-fluid
        .col
          p El informe final de la investigación, es tan importante como todas las etapas descritas, ya que debe dar respuesta al problema de investigación y a los objetivos de la misma, de una forma clara y objetiva, que lleve a entenderlo según el tipo de público al cual va dirigido. Regularmente se pueden presentar informes técnicos e informes gerenciales. 
        
       
            
      

        
         
          


              