.container#page-introduccion

    .header-ecored
        h1 2. Tipos de investigación de mercados

    .jumbotron.bg-white 
      .row
        .col-12
          p Las investigaciones de mercados, como ya se ha mencionado anteriormente, son utilizadas por las organizaciones para recopilar la mayor cantidad de datos posibles de sus clientes, obteniendo información para tomar decisiones sobre los productos, con los que pretenden satisfacer sus necesidades. 

      .row.justify-content-center.align-items-center
        .col.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema2/info_01.svg", alt="").img-fluid
        
        .col-12.my-5
          p A continuación, se definen los tipos de investigación de mercados, mostrados en la anterior imagen: 

      .row
        .col-12.mb-5
          .iconHeader
            .iconHeader__bullet
              img(src="assets/images/icons/icon_research.svg", alt="")
            .iconHheader__body
              h2.m-0 Tipo deductivo    
       
          p Se enfoca en conocer los cambios culturales y sociales, también miden lealtad de clientes, niveles de competitividad. Para lograr su objetivo, realiza estudios de usos y actitudes, Análisis de comunicaciones, publicitarios, segmentación de mercados, estudios de posicionamiento, análisis de tendencia industrial y sondeo de competencia. 

        .col-12.mb-5
          .iconHeader
            .iconHeader__bullet
              img(src="assets/images/icons/icon_research.svg", alt="")
            .iconHheader__body
              h2.m-0 Tipo inductivo      
       
          p Tiene como objetivo conocer el efecto del cambio de imagen, la efectividad mediática e innovación empresarial. Se enfoca en medir cambios de segmento y la maximización financiera. Mide la deslealtad de los clientes, por perdida de mercados y de comunicación con el cliente.
          
          p Utiliza técnicas como estudios de satisfacción del cliente, estudios de comunicación con el cliente por medio del CRM análisis de experiencia cliente, auditoria de calidad y servicio, pruebas de concepto y de uso, análisis de precios. 

        .col-12.mb-5
          .iconHeader
            .iconHeader__bullet
              img(src="assets/images/icons/icon_research.svg", alt="")
            .iconHheader__body
              h2.m-0 Tipo publicitario     
       
          p Se basa en la publicidad apoyada en la Psicología, en la sociología y en la economía como medios para generar actitudes, conductas y comportamientos en los consumidores y clientes. Su herramienta es la matriz de preferencias, en la que se analizan los públicos leales y los públicos cambiantes (Prieto Herrera, Jorge Eliecer. 2013). https://cutt.ly/yeBRUKo 

        .col-12.mb-5
          .iconHeader
            .iconHeader__bullet
              img(src="assets/images/icons/icon_research.svg", alt="")
            .iconHheader__body
              h2.m-0 Tipo matemático     
       
          p “Productos, marcas y disponibilidad de producto son algunas de las variables que se toman cuando vamos a utilizar modelos matemáticos como valor esperado, punto ideal, valor percibido y causa efecto, los cuales permiten evaluar las preferencias, entendidas como los deseos y las percepciones de los consumidores” (Prieto Herrera, Jorge Eliecer. 2013). https://cutt.ly/yeBRUKo

          p También permiten evaluar específicamente la importancia y la sensibilidad que los compradores le otorgan a los precios en el proceso de selección de compra. 

        .col-12.mb-5
          .iconHeader
            .iconHeader__bullet
              img(src="assets/images/icons/icon_research.svg", alt="")
            .iconHheader__body
              h2.m-0 Tipo tradicional      
       
          p Este tipo de investigación de mercado, es conocido como la mezcla o mix de marketing, compuesta por producto, precio, plaza y promoción.  
